{% include base_path %}
<!-- start custom head snippets -->	
 <meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.excerpt }}">
<meta property="og:image" content="{{ page.header.teaser }}"> 

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="dns-prefetch" href="https://cdn.plot.ly">
<link rel="dns-prefetch" href="https://fonts.googleapis.com">

<script src="https://cdn.plot.ly/plotly-2.35.2.min.js" defer></script>
<link rel="stylesheet" href="{{ 'assets/fontawesome/css/all.min.css' | relative_url }}" fetchpriority="low"> 
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-touch-icon-60x60.png?v=565802">
<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-touch-icon-76x76.png?v=565802">
<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-touch-icon-120x120.png?v=565802">
<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-touch-icon-152x152.png?v=565802">
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon-180x180.png?v=565802">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png?v=565802">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png?v=565802">
<link rel="manifest" href="/images/favicon/site.webmanifest?v=565802">
<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg?v=565802" color="#00a7ff">
<link rel="shortcut icon" href="/images/favicon/favicon.ico?v=565802">
<meta name="apple-mobile-web-app-title" content="SM-Web">
<meta name="application-name" content="SM-Web">
<meta name="msapplication-TileColor" content="#00a300">
<meta name="msapplication-config" content="/images/favicon/browserconfig.xml?v=565802">
<meta name="theme-color" content="#ffffff">

<!-- SEO tags -->
{% seo %}