{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/EducationEvent">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img loading="eager"
          {% if teaser contains "://" %}
            src="{{ teaser }}"
          {% else %}
            src="{{ teaser | relative_path }}"
          {% endif %}
          alt="{{ title }}">
      </div>
    {% endif %}
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}<span class="sr-only">External Link</span></a>
        <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="Permalink to post"></i></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    {% if post.read_time %}
      <div class="page__meta">
        <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}
      </div>
    {% endif %}
    {% if post.type %}
      <p class="archive__item-type"><strong>Type:</strong> <span itemprop="courseWorkload">{{ post.type }}</span></p>
    {% endif %}
    {% if post.venue %}
      <p class="archive__item-venue"><strong>Venue:</strong> <span itemprop="location">{{ post.venue }}</span></p>
    {% endif %}
    {% if post.date %}
      <p class="archive__item-date"><i class="fa fa-fw fa-calendar-alt" aria-hidden="true"></i> <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="startDate">{{ post.date | date: "%B %d, %Y" }}</time></p>
    {% endif %}
    {% if post.excerpt %}<div class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</div>{% endif %}
  </article>
</div>
