{% include base_path %}
<!-- Post -->
<ul class="post-list">
    <!-- Looping over the posts -->
        {% for post in site.posts %}
        <li class="post-list-item">
              <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
              <!-- Author -->
              {% assign author = site.data.authors[post.author] %}
              <div class="teaser-container">
                <img class="author-logo" src="/images/{{ author.avatar }}" style="border: 2px solid {{ post.bcolor }};" />
                {% if post.date %}
                <p class="page__date"><strong><i class="fa fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
                {% endif %}
              </div>
              <img class="teaser-thumbnail" style="border-top:20px solid {{ post.bcolor }};border-right:20px solid {{ post.bcolor }};border-left:20px solid {{ post.bcolor }};border-bottom:1px solid {{ post.bcolor }};"
              src="{{ site.baseurl }}/blog_images/{{ post.image }}" width="440" height="240"> 
              {{ post.excerpt }}
              <div class="btn-tag">
                <a class="btn btn-default" href="{{ post.url | prepend: site.baseurl }}"> Read more </a>
                <p class="tag__taxonomy">
                  <i class="fa fa-fw fa-tags" aria-hidden="true"></i>
                  <span itemprop="keywords">
                  {% for hash in post.tags %}
                    {% assign keyValue = hash | split: '#' %}
                    {% capture tag_word %}{{ keyValue[1] | strip_newlines }}{% endcapture %}
                    <a href="/tags/#{{ hash | slugify }}" class="tag__taxonomy-item" rel="tag">{{ tag_word }}</a>{% unless forloop.last %}<span class="sep"></span>{% endunless %}
                  {% endfor %}
                  </span>
                </p>
              </div>
              <hr/>
        </li>
        {% endfor %}
</ul>