<meta charset="utf-8">

{% include seo.html %}
{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

<!-- https://web.dev/viewport/?utm_source=lighthouse&utm_medium=lr -->
{%- comment %} https://docs.google.com/presentation/d/1rmxwWa9P6_xHqonmh5ONXRS-jPc5XKbnv99Rjkhe04s/present {% endcomment -%}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script defer>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
  {% if site.enable_copy_code_button -%}
    window.enable_copy_code_button = true;
  {%- endif %}
</script>

<!-- For all browsers -->
<link
  rel="stylesheet"
  href="{{ '/assets/css/main.css' | relative_url }}"
  id="theme_source"
/>

{% if site.minimal_mistakes_skin2 %}
<link
  rel="stylesheet alternate"
  href="{{ '/assets/css/mainDark.css' | relative_url }}"
  id="theme_source_2"
/>
<script  async>
  let theme = sessionStorage.getItem("theme");
  if (theme === "dark") {
    sessionStorage.setItem("theme", "dark");
    node1 = document.getElementById("theme_source");
    node2 = document.getElementById("theme_source_2");
    node1.setAttribute("rel", "stylesheet alternate");
    node2.setAttribute("rel", "stylesheet");
  } else {
    sessionStorage.setItem("theme", "light");
  }
</script>
{% endif %}
{% if site.head_scripts %}
  {% for script in site.head_scripts %}
   <script src="{{ script | relative_url }}" async></script>
  {% endfor %}
{% endif %}