<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% include seo.html %}
{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

<script async>
  document.documentElement.className =
    document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

{% if site.enable_copy_code_button -%}
<script defer>
  window.enable_copy_code_button = true;
</script>
{%- endif %}

<link rel="stylesheet" href="{{ '/assets/academicons/css/academicons.min.css' | relative_url }}" fetchpriority="low">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" id="theme_source">
{% if site.head_scripts %}
  {% for script in site.head_scripts %}
   <script defer src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}

<!-- This command for the mathematics equations in the webpage -->

{% if page.math %}
<script>
window.MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  }
};
</script>
<script defer crossorigin="anonymous"
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
{% endif %}