---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "theme/{{ site.site_theme | default: 'contrast' | append: '_light' }}",
        "theme/{{ site.site_theme | default: 'default' | append: '_dark' }}"; // skin
@import "minimal-mistakes"; // main partials