/* ==========================================================================
   CUSTOM CSS BY ME
   ========================================================================== */

/*
   Visibility
   ========================================================================== */

.zoom{
  /* default button */
  
  &:hover {
    transform: scale(1.25);
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

/* overlay effect (full height and width) - lays on top of the container */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: $dark-gray;
}

/* When you mouse over the container, fade in the overlay */
.container:hover .overlay {
  opacity: 0.25;
}

/* Toggle theme setting */

.toggle-switch {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding: auto;
  height: auto;
  justify-content: center;
  border-radius: 40%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}		

.toggle-switch:hover{
  background-color: $background-color;
  padding: 0.1rem 0.1rem;
}

.edu {
  padding: 0em;
  line-height: 1em;
  font-size: normal;
} 

#about-me{
  border: 2px solid rgb(130, 130,130);
  float: right;
  height: auto;
  width: auto;
  margin: 8px;
}

 .edu ul{
  font-style: italic;
  font-size: medium;
  font-weight: normal;
  }
