/* ==========================================================================
   CUSTOM CSS BY ME
   ========================================================================== */

/*
   Visibility
   ========================================================================== */

.zoom{
  /* default button */
  
  &:hover {
    transform: scale(1.25);
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

/* overlay effect (full height and width) - lays on top of the container */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: $dark-gray;
}

/* When you mouse over the container, fade in the overlay */
.container:hover .overlay {
  opacity: 0.25;
}

/* Toggle theme setting */

.toggle-switch {
  background-color: $background-color;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 40%;
  padding: 0.1rem 0.1rem;

&:hover{
    color: $masthead-link-color-hover;
  }
}


#about-me{
  border: 2px solid rgb(130, 130,130);
  padding: 2px;
  display: block;
  margin: 0 auto;
  height: 100;
  width: 100;
  }

.edu {
  border: 1px;
  border-radius: 25px;
  padding-left: 5em;
  padding-right: 1em;
  padding-bottom: 1em;
  display: grid;
  justify-content: center;
  line-height: 1.33em;
  font-size: $doc-font-size;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  column-gap: 2em;
  background-color: #4cf123;
} 
.edu h4 {
color:#633306;
}

.edu p {
  font-style: italic;
  font-size: bold;
  margin: auto;
  padding-left: 1.56rem;
  padding-right: 0;
    }
.edu p :hover {
      background-color:#d80420;
      padding: 4px;
      border-radius: 5px;

    }
#int ul{
  line-height: 2.1em;
  padding: 2px;
  font-size: $doc-font-size-medium;
  margin: 0;
  text-decoration: double;
 }

  // new 404 page settings
  main {
    background: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $global-font-family;
  }
  main #errorText {
    font-size: 22px;
    margin: 14px 0;
  }
  main #errorLink {
    font-size: 20px;
    padding: 12px;
    border: 1px solid;
    color: $muted-text-color;
    background-color: transparent;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }
  main #errorLink:hover, main #errorLink:active {
    color: $text-color;
    background: $link-color;
  }
  main #g6219 {
    transform-origin: 85px 4px;
    -webkit-animation: an1 12s 0.5s infinite ease-out;
            animation: an1 12s 0.5s infinite ease-out;
  }
  
  @-webkit-keyframes an1 {
    0% {
      transform: rotate(0);
    }
    5% {
      transform: rotate(3deg);
    }
    15% {
      transform: rotate(-2.5deg);
    }
    25% {
      transform: rotate(2deg);
    }
    35% {
      transform: rotate(-1.5deg);
    }
    45% {
      transform: rotate(1deg);
    }
    55% {
      transform: rotate(-1.5deg);
    }
    65% {
      transform: rotate(2deg);
    }
    75% {
      transform: rotate(-2deg);
    }
    85% {
      transform: rotate(2.5deg);
    }
    95% {
      transform: rotate(-3deg);
    }
    100% {
      transform: rotate(0);
    }
  }
  
  @keyframes an1 {
    0% {
      transform: rotate(0);
    }
    5% {
      transform: rotate(3deg);
    }
    15% {
      transform: rotate(-2.5deg);
    }
    25% {
      transform: rotate(2deg);
    }
    35% {
      transform: rotate(-1.5deg);
    }
    45% {
      transform: rotate(1deg);
    }
    55% {
      transform: rotate(-1.5deg);
    }
    65% {
      transform: rotate(2deg);
    }
    75% {
      transform: rotate(-2deg);
    }
    85% {
      transform: rotate(2.5deg);
    }
    95% {
      transform: rotate(-3deg);
    }
    100% {
      transform: rotate(0);
    }
  }

.stat {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
}

.btn-outline-primary{
  color: $link-color;
  border-color: #007bff;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px $link-color solid;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
 .btn:hover {
  background-color: #b3cde0;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
 }