/* ==========================================================================
   CUSTOM CSS BY ME
   ========================================================================== */

/*
   Visibility
   ========================================================================== */

.zoom {
  /* default button */

  &:hover {
    transform: scale(1.25);
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

/* overlay effect (full height and width) - lays on top of the container */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: $dark-gray;
}

/* When you mouse over the container, fade in the overlay */
.container:hover .overlay {
  opacity: 0.25;
}

/* Toggle theme setting */

.toggle-switch {
  background-color: $background-color;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 50%;
  padding: 0.1rem 0.1rem;

  &:hover {
    color: $masthead-link-color-hover;
  }
}

// Photo for about me
#about-me {
  border: 2px solid rgb(130, 130, 130);
  padding: 2px;
  display: block;
  margin: 0 auto;
  height: 100;
  width: 100;
}

// Education settings
.edu {
  display: grid;
  justify-content: space-evenly;
  overflow: hidden;
  gap: 1em;
  border: 1px;
  border-radius: 25px;
  padding-left: 3em;
  padding-right: 1em;
  padding-bottom: 2em;
  line-height: 1.8em;
  font-size: $doc-font-size;
  column-gap: 2em;
}

@media (min-width: 768px ) { /* Adjust breakpoint as needed */
  .edu {
    grid-template-columns:repeat(2, 1fr); /* Create two equal-width columns */
    /* Or, for specific layout: grid-template-columns: 1fr 2fr; */
  }
}

.edu h3 {
  font-size: $doc-font-size-large;
}

.edu span {
  font-size: $doc-font-size;

}
.edu p {
  font-style: italic;
  font-size: $doc-font-size;
  margin: auto;
  padding-left: 1.5em;
  padding-inline-end: 0;
}
.edu p :hover {
  background-color: $primary-btn-hover;
  padding: 4px;
  border-radius: 5px;

}
#int {
  line-height: 1.7em;
  padding: 2px;
  font-size: $doc-font-size-medium;
  margin-inline: 0;
  text-decoration: double;
  }

  #int li{
    margin-left: 1.2em;
    padding-left: 0.5em;
    list-style-type: square;
  }  
  #int li:hover {
       text-decoration: underline;
       background-color: $primary-btn-hover;
       border-radius: 2em;
       padding: 2px;
       animation: bounce;
       animation-duration: 0.5s;
       animation-iteration-count: infinite;
  }
  @keyframes bounce {
    0%{
      /* initial stage and final stage */
      transform: scaleY(0);
    }
    50% {
      transform: scaleY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

// new 404 page settings
main {
  background: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $global-font-family;
}
main #errorText {
  font-size: 22px;
  margin: 14px 0;
}
main #errorLink {
  font-size: 20px;
  padding: 12px;
  border: 1px solid;
  color: $stanford-red;
  background-color: transparent;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
main #errorLink:hover,
main #errorLink:active {
  color: $text-color;
  background: $masthead-link-color-hover;
}
main #g6219 {
  transform-origin: 85px 4px;
  -webkit-animation: an1 12s 0.5s infinite ease-out;
  animation: an1 12s 0.5s infinite ease-out;
}

@-webkit-keyframes an1 {
  0% {
    transform: rotate(0);
  }
  5% {
    transform: rotate(3deg);
  }
  15% {
    transform: rotate(-2.5deg);
  }
  25% {
    transform: rotate(2deg);
  }
  35% {
    transform: rotate(-1.5deg);
  }
  45% {
    transform: rotate(1deg);
  }
  55% {
    transform: rotate(-1.5deg);
  }
  65% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  85% {
    transform: rotate(2.5deg);
  }
  95% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes an1 {
  0% {
    transform: rotate(0);
  }
  5% {
    transform: rotate(3deg);
  }
  15% {
    transform: rotate(-2.5deg);
  }
  25% {
    transform: rotate(2deg);
  }
  35% {
    transform: rotate(-1.5deg);
  }
  45% {
    transform: rotate(1deg);
  }
  55% {
    transform: rotate(-1.5deg);
  }
  65% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  85% {
    transform: rotate(2.5deg);
  }
  95% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0);
  }
}

.stat {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
}

.btn-outline-primary {
  color: $text-color;
  border-color: #007bff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px $link-color solid;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn-outline-primary:hover {
  background-color: $primary-btn-hover;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}