/* ==========================================================================
   CUSTOM CSS BY ME
   ========================================================================== */

/*
   Visibility
   ========================================================================== */

.zoom {
  /* default button */

  &:hover {
    transform: scale(1.25);
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

/* overlay effect (full height and width) - lays on top of the container */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: $dark-primary-color;
}

/* When you mouse over the container, fade in the overlay */
.container:hover .overlay {
  opacity: 0.25;
}

/* Toggle theme setting */

#theme-toggle {
  a {
    width: 25px;
    display: flex;
    justify-content: center;
    position: relative;
    // padding-bottom: 0.05em; // Increased padding to account for thicker line
    text-decoration: none;
    overflow: visible;
    /* Prevents the "I-beam" cursor and text selection */
    user-select: none;
   -webkit-user-select: none; /* Safari */
  
    /* Removes the tap highlight on mobile devices */
    -webkit-tap-highlight-color: transparent;
    &::after {
      content: '';
      position: absolute;
      top: 1.1em;
      left: 0;
      bottom: 0;
      width: 100%;
      
      // --- THICKNESS SETTINGS ---
      height: 5px;            // Change this to 3px, 5px, etc.
      border-radius: 1rem;    // Optional: rounds the ends of the thick line
      // --------------------------

      background-color: currentColor;
      transform: scaleX(0);
      transition: transform 0.2s ease-in-out;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }
}

/* Ensure the icon itself doesn't trigger a cursor */
#theme-icon {
  pointer-events: none;
}

// Photo for about me
#about-me {
  border: 2px solid rgb(130, 130, 130);
  padding: 2px;
  display: block;
  margin: 0 auto;
  height: 100;
  width: 100;
}

// Education settings
.edu {
  display: grid;
  justify-content: space-evenly;
  overflow: hidden;
  gap: 1em;
  border: 1px;
  line-height: 1.8em;
  font-size: $doc-font-size;
  column-gap: 2em;
}

@media (min-width: 768px ) { /* Adjust breakpoint as needed */
  .edu {
    grid-template-columns:repeat(2, 1fr); /* Create two equal-width columns */
    /* Or, for specific layout: grid-template-columns: 1fr 2fr; */
  }
}

.edu h3 {
  font-size: $doc-font-size-large;
}

.edu span {
  font-size: $doc-font-size;

}
.edu p {
  font-style: italic;
  font-size: $doc-font-size;
  margin: auto;
  padding-left: 1.5em;
  padding-inline-end: 0;
}
.edu p :hover {
  background-color: var(--global-masthead-link-color-hover);
  padding: 4px;
  border-radius: 5px;

}

.earlyEdu  {
font-style: italic;
  font-size: $doc-font-size;
  margin: auto;
  padding-left: 1.5em;
}

#int {
  line-height: 1.7em;
  padding: 2px;
  font-size: $doc-font-size-medium;
  margin-inline: 0;
  text-decoration: double;
  }

  #int li{
    margin-left: 1.2em;
    padding-left: 0.5em;
    list-style-type: square;
  }  

// new 404 page settings
main {
  background: var(--global-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $global-font-family;
}
main #errorText {
  font-size: 22px;
  margin: 14px 0;
}
main #errorLink {
  font-size: 20px;
  padding: 12px;
  border: 1px solid;
  color: var(-global-base-color);
  background-color: transparent;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
main #errorLink:hover,
main #errorLink:active {
  color: var(--global-text-color);
  background: var(--global-masthead-link-color-hover);
}
main #g6219 {
  transform-origin: 85px 4px;
  -webkit-animation: an1 12s 0.5s infinite ease-out;
  animation: an1 12s 0.5s infinite ease-out;
}

@-webkit-keyframes an1 {
  0% {
    transform: rotate(0);
  }
  5% {
    transform: rotate(3deg);
  }
  15% {
    transform: rotate(-2.5deg);
  }
  25% {
    transform: rotate(2deg);
  }
  35% {
    transform: rotate(-1.5deg);
  }
  45% {
    transform: rotate(1deg);
  }
  55% {
    transform: rotate(-1.5deg);
  }
  65% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  85% {
    transform: rotate(2.5deg);
  }
  95% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes an1 {
  0% {
    transform: rotate(0);
  }
  5% {
    transform: rotate(3deg);
  }
  15% {
    transform: rotate(-2.5deg);
  }
  25% {
    transform: rotate(2deg);
  }
  35% {
    transform: rotate(-1.5deg);
  }
  45% {
    transform: rotate(1deg);
  }
  55% {
    transform: rotate(-1.5deg);
  }
  65% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  85% {
    transform: rotate(2.5deg);
  }
  95% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0);
  }
}

.stat {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
}

.btn-outline-primary {
  color: var(--global-text-color);
  border-color: #007bff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px var(--global-btn-color) solid;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn-outline-primary:hover {
  background-color: var(--global-masthead-link-color-hover);
  transition: color .15s ease-in-out, var(--global-bg-color) .15s ease-in-out, var(--global-border-color) .15s ease-in-out, box-shadow .15s ease-in-out;
}

.mermaid {
    display: flex;
    justify-content: center;
}