/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: var(--global-border-color);
  border-bottom: 2px solid var(--global-border-color);
}

th {
  background-color: var(--global-tbl-header-color);
  padding: 0.5em;
  font-weight: bold;
  text-align: start;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid var(--global-border-color);
}

tr,
td,
th {
  vertical-align: middle;
}
